#wrapper{
    background-color: #eeeeee !important;
}
.hq-additional-charge-name-step-4{
    width: 160px !important;
}
.hq-recommended-tag{
    color:#f0c540;
    padding-top: 10px;
    padding-bottom: 10px;
}
.hq-vehicle-class-description{
    text-align: justify;
}
.hq-rental-reservation-wrapper{
    background-color: #eeeeee;
    padding-top: 0px !important;
}
button.hq-rental-reservation-submit-button{
    width:100% !important;
    background-color:#f0c540 !important;
    box-shadow: 0 2px 0 #f0c540 !important;
}

.stm-template-car_rental .stm_rent_accept_wrapper .hq-rental-reservation-submit-button{
    display: block;
    padding: 12px 15px 10px;
    width: 100% !important;
    font-weight: 700;
    font-size: 16px;
    color: #2a4045;
    border: 3px solid #f0c540;
    text-transform: uppercase;
    background-color: #f0c540;
    text-align: center;
    text-decoration: none !important;
}
.hq-rental-non-active-step{
    background-color: #fff;
    position: relative;
    padding: 25px 30px 35px;
}
.hq-rental-active-step{
    background-color: #f0c540 !important;
    position: relative;
    padding: 25px 30px 35px;
}

.hq-submit-button-wrapper{
    margin-top:20px;
}
.stm-template-car_rental .stm_rent_location .select2-dropdown{
    min-height: initial;
}
.hq-input-row{
    margin-top: 25px;
    margin-bottom: 25px;
}
.hq-input-row label,.hq-input-row p {
    font-family:Montserrat;
}

.hq-form-wrapper .form-row .required{
    color: red;
    font-weight: 700;
    border: 0;
}
.select2-selection__choice{
    border: 3px solid #f0c540 !important;
    font-family: Montserrat !important;
    font-weight: 600;
    text-transform: uppercase;
}
.intl-tel-input{
    width:100%;
}
